/*
 ██████  ███████ ███    ██ ███████ ██████  ██  ██████ ███████
██       ██      ████   ██ ██      ██   ██ ██ ██      ██
██   ███ █████   ██ ██  ██ █████   ██████  ██ ██      ███████
██    ██ ██      ██  ██ ██ ██      ██   ██ ██ ██           ██
 ██████  ███████ ██   ████ ███████ ██   ██ ██  ██████ ███████
*/


.inline {
  display: inline;
}


.hidden {
  display: none;
}


.left-pad {
  padding-left: 20px;
}


.leftfloat {
  float:left;
}


.rightfloat {
  float:right;
}

textarea, input {
  font-size: 18px;
  font-family: inherit;
}

textarea {
  height: 300px;
}


/*
██████  ██    ██ ████████ ████████  ██████  ███    ██ ███████
██   ██ ██    ██    ██       ██    ██    ██ ████   ██ ██
██████  ██    ██    ██       ██    ██    ██ ██ ██  ██ ███████
██   ██ ██    ██    ██       ██    ██    ██ ██  ██ ██      ██
██████   ██████     ██       ██     ██████  ██   ████ ███████
*/
button {
  cursor: pointer;
  cursor: hand;
}


.buttonBar {
  position: sticky;
  top: 1px;
}


.red-button {
  border:none;
  background-color: #f36365;
  color: white;
}


.red-button:hover {
  background-color: #e04210;
  color: white;
}


/*
████████ ██ ████████ ██      ███████
   ██    ██    ██    ██      ██
   ██    ██    ██    ██      █████
   ██    ██    ██    ██      ██
   ██    ██    ██    ███████ ███████
*/
.title {
  text-align: center;
  background-color: white;
  position: sticky;
  top: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  z-index: 2;
}


/*
██████   ██████  ██████  ██████  ███████ ██████       ██████  ██████  ██       ██████  ██████  ███████
██   ██ ██    ██ ██   ██ ██   ██ ██      ██   ██     ██      ██    ██ ██      ██    ██ ██   ██ ██
██████  ██    ██ ██████  ██   ██ █████   ██████      ██      ██    ██ ██      ██    ██ ██████  ███████
██   ██ ██    ██ ██   ██ ██   ██ ██      ██   ██     ██      ██    ██ ██      ██    ██ ██   ██      ██
██████   ██████  ██   ██ ██████  ███████ ██   ██      ██████  ██████  ███████  ██████  ██   ██ ███████
*/
/*This is the styling for when the page is selected*/
.onHold {
  box-shadow: 0px 0px 0px 5px red inset;
}

/*This is the styling for when the page is selected*/
.onAccept {
  box-shadow: 0px 0px 0px 5px green inset;
}


/*
██████   ██████  ██████  ██    ██ ██████  ███████
██   ██ ██    ██ ██   ██ ██    ██ ██   ██ ██
██████  ██    ██ ██████  ██    ██ ██████  ███████
██      ██    ██ ██      ██    ██ ██           ██
██       ██████  ██       ██████  ██      ███████
*/
/* Styling for semi-transparent overlay stylings */
.overlay {
  position: fixed;

  /* Hidden by default */
  display: none;

  /* Full width (cover the whole page) */
  width: 100%;

  /* Full height (cover the whole page) */
  height: 100%;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* Black background with opacity */
  background-color: rgba(0,0,0,0.7);

  /* Order of how we want to order them*/
  z-index: 3;
}


/* Some basic styling for the popup */
.popupText {
  padding: 10px 10px 10px 10px;
}


/* The popup first starts out invisible */
.cruxPopup {
  position: fixed;
  display: none;
  background-color: white;
  top: 50px;
  border-radius: 10px;
  font-size: 18px;
  width: 70%;
  height: 70%;
  /* Half of 100% minus the existing width*/
  left: 15%;
  /* Order this on top of the overlay*/
  z-index: 4;
}


.popupTitle {
  padding-top: 10px;
  text-align: center;
}


.discussionSide1, .discussionSide2 {
  position: fixed;
  display: none;
  top: 50px;
  border-radius: 10px;
  font-size: 18px;
  width: 60%;
  height: 30%;
  /* Half of 100% minus the existing width*/
  left: 20%;
  /* Order this on top of the overlay*/
  z-index: 4;
}


/*
 ██████  ██████  ██ ██████      ██       █████  ██    ██  ██████  ██    ██ ████████
██       ██   ██ ██ ██   ██     ██      ██   ██  ██  ██  ██    ██ ██    ██    ██
██   ███ ██████  ██ ██   ██     ██      ███████   ████   ██    ██ ██    ██    ██
██    ██ ██   ██ ██ ██   ██     ██      ██   ██    ██    ██    ██ ██    ██    ██
 ██████  ██   ██ ██ ██████      ███████ ██   ██    ██     ██████   ██████     ██
*/
/* This is where the actual grid layout comes in */
.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  /* grid-row-gap: 15px; */
  background-color: white;
}

.text {
  height: 200px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  overflow-y: scroll;
}


.leftside, .rightside {
  border-radius: 10px;
  border: 2px solid #BBBBBB;
}

/*.leftside {
  border: 2px solid #3EAFD3;
}

.rightside {
  border: 2px solid #BBBBBB;
}*/


.recursedCrux {
  border-radius: 10px;
  border: 2px solid #3EAFD3;
}


.cruxTitle {
  margin: 0;
}

/* Removes the scrollbar, but keeps it functional*/
::-webkit-scrollbar {
  display:none;
}


.helpertext {
  position: relative;
  top: -10px;
}


/*
██████   ██████  ██████  ██    ██ ██████      ███████ ████████ ██    ██ ██      ███████ ███████
██   ██ ██    ██ ██   ██ ██    ██ ██   ██     ██         ██     ██  ██  ██      ██      ██
██████  ██    ██ ██████  ██    ██ ██████      ███████    ██      ████   ██      █████   ███████
██      ██    ██ ██      ██    ██ ██               ██    ██       ██    ██      ██           ██
██       ██████  ██       ██████  ██          ███████    ██       ██    ███████ ███████ ███████
*/


.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #0f9cc8;
    color: white;
    text-align: center;
    padding: 1px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}


/*
 ██████  ██████  ████████ ██  ██████  ███    ██ ███████     ██████  ██    ██ ████████ ████████  ██████  ███    ██
██    ██ ██   ██    ██    ██ ██    ██ ████   ██ ██          ██   ██ ██    ██    ██       ██    ██    ██ ████   ██
██    ██ ██████     ██    ██ ██    ██ ██ ██  ██ ███████     ██████  ██    ██    ██       ██    ██    ██ ██ ██  ██
██    ██ ██         ██    ██ ██    ██ ██  ██ ██      ██     ██   ██ ██    ██    ██       ██    ██    ██ ██  ██ ██
 ██████  ██         ██    ██  ██████  ██   ████ ███████     ██████   ██████     ██       ██     ██████  ██   ████
*/
/* Hamburger icon stuff */
.menu_container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: rgb(130, 164, 178);
    margin: 6px 0;
    transition: 0.4s;
}


/* Rotate first bar */
.change .bar1 {
    -webkit-transform:  translate(0px, 9px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform:  translate(0px, -9px) rotate(45deg) ;
    /*transform: rotate(45deg) translate(0px, 0px) ;*/
}
