.left-pad {
  padding-left: 20px;
}

li {
  float: left;
  display: block;
  width: 150px;
  text-align: center;
}

 hr {
   margin: 0px;
 }


.logotitle {
  display: inline-block;
  position: absolute;
  top: 80px;
}

a {
  text-decoration:  none;
}

.logo {
  width: 40px;
}

.biglogo {
  width: 80px;
  display: inline-block;
}

.profilepic {
  width:13em;
  border-radius:100%;
}

.profilewords {
  text-align: center;
}

.box3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
}

.justify {
  text-align: justify;
}

.box1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.screenshot {
  height: 400px;
  border-radius: 10px;
  border: 2px solid #BBBBBB;
  border-radius: 10px;
}

.tutorialtext {
  height: 390px;
}

.centered {
  text-align: center;
}
