.title {
  text-align: center;
  background-color: white;
  position: sticky;
  top: 0px;
  padding: 1em 1em 1em 1em
}

div {
    overflow-x: scroll;
}

.leftfloat {
  float:left;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  background-color: white;
}

.text {
  height: 200px;
  background-color: lightblue;
  margin-bottom: 15px;
  padding: 10px 10px 10px 10px;
}

.text:hover {
  background-color: green;
}
