.left-pad {
  padding-left: 20px;
}

li {
  float: left;
  display: block;
  width: 100px;
  text-align: center;
}

 hr {
   margin: 0px;
 }

.logo {
  width: 100px;
}

.logotitle {
  display: inline;
}
