
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/stylesheets/skeleton.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/stylesDiscussion.css"/>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- Favicon Boilerplate -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/manifest.json">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <meta name="msapplication-config" content="/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>New Discussion</title>

  </head>

  <body>
    <form method="post" action ="/creatediscussion"> <!-- the action says which handler we want to grab the method from-->

          Title:
        <input type="text" placeholder="Example Title" name="title"/>
        <input type="hidden" name="user1ID" value="{{current_user_id}}">

      <br />

          Add Other Contributor:
        <input type="text" placeholder="example@gmail.com" name="user2email">

      <br />

      <button type="submit" class="button-primary">Add Discussion</button></p>

    </form>
  </body>
</html>
