<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="/stylesheets/stylesDiscussion.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="scripts/scriptDiscussion.js"></script>
    <title>{{discussion.title}}</title>
  </head>


  <body>

    <div class="overlay"></div>

    <!--The intro popup-->
    <div class="cruxPopup">
      <button class="rightfloat closeExpandButton">X</button>
      <div class="popupText"></div>
    </div>

    <div class="title">
      <a href="/"><button class="leftfloat"> <-- </button></a>
      {{discussion.title}} <br>

    </div>

    <div class="box">

  <!--What's happening here is that we're running a conditional within our for loop to check if the OnHold boolean is True. If so, then we don't initialize it with the add'l CSS class "onHold", which is responsible for the additional styling changes-->
      <div class="left">

        {% for item in cruxes %}
          {% if item.onHold %}
            <div class = "text onHold">
              <div class="buttonBar">
                <button class="expandButton rightfloat">X</button>
                <button class="rightfloat onHoldButton" value="{{ item.key.urlsafe() }}">H</button>
                <button class="rightfloat onAcceptButton" value="{{ item.key.urlsafe() }}">A</button>
              </div>
              <p class = "cruxTitle">
                Title: {{item.title}}
              </p>
              <p class = "cruxContent">
                Crux: {{item.content}}
              </p>
            </div>

          {% elif item.onAccept %}
            <div class = "text onAccept">
              <div class="buttonBar">
                <button class="expandButton rightfloat">X</button>
                <button class="rightfloat onHoldButton" value="{{ item.key.urlsafe() }}">H</button>
                <button class="rightfloat onAcceptButton" value="{{ item.key.urlsafe() }}">A</button>
              </div>
              <p class = "cruxTitle">
                Title: {{item.title}}
              </p>
              <p class = "cruxContent">
                Crux: {{item.content}}
              </p>
            </div>

          {% else %}
          <div class = "text">
            <div class="buttonBar">
              <button class="expandButton rightfloat">X</button>
              <button class="rightfloat onHoldButton" value="{{ item.key.urlsafe() }}">H</button>
              <button class="rightfloat onAcceptButton" value="{{ item.key.urlsafe() }}">A</button>
            </div>
            <p class = "cruxTitle">
              Title: {{item.title}}
            </p>
            <p class = "cruxContent">
              Crux: {{item.content}}
            </p>
          </div>
          {% endif %}
        {% endfor %}
        </div>


      <div class="right">
          <div class="text">Right Text</div>
          <div class="text">Right Text</div>
      </div>

    </div>

    <br />


    {% if discussion.user1ID == current_user_id %}
      <form method="post" action ="/newcrux">
        <input type="hidden" name="discussion_key" value="{{ discussion.key.urlsafe() }}" />
        Title:
        <br />
        <input type="text" name="title" />
        <br />
        Content:
        <br />
        <textarea name="content"></textarea>
        <button type="submit">Add Crux</button></p>
      </form>
    {% endif %}


  </body>

</html>
