<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="/stylesheets/stylesDiscussion.css"/>
    <title>Discussion</title>
  </head>


  <body>

    <div class="title">
      <a href="/"><button class="leftfloat"> <-- </button></a>
      {{discussion.title}}
    </div>

    <div class="box">

      <div class="left">
        {% for item in cruxes %}
          <div class = "text">
            Title: {{item.title}}
            <br />
            Crux: {{item.content}}
            <br />
            <br/>
          </div>
          {% endfor %}
        </div>


      <div class="right">
          <div class="text">Right Text</div>
          <div class="text">Right Text</div>
      </div>

    </div>

    <br />

    <form method="post" action ="/newcrux">
      <input type="hidden" name="discussion_key" value="{{ discussion.key.urlsafe() }}" />
      Title:
      <br />
      <input type="text" name="title" />
      <br />
      Content:
      <br />
      <textarea name="content"></textarea>
      <button type="submit">Add Crux</button></p>
    </form>

  </body>

</html>
