<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/skeleton.css"/>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/styleshome.css"/>
    <title></title>
  </head>
  <body>
    <div class="left-pad">
      <h3>About</h3>

      <p class="description">
        The internet can often be a toxic place. Double Crux provides a plateform for you to debate in a effective and friendly manner.
        Here is the team that worked on creating this platform for practical and powerful argumentation
      </p>

      <br>
      <h3>Our Coders</h3>
      <br />

      <div class="imgContainer">
          <div class="profilephotos">
            <h6>David | Northeastern </h6>
            <img src="images/David.jpg" width="200" length="200">
            <br />
          </div>

          <div class="profilephotos">
            <h6>Vanessa | UC Berkeley</h6>
            <img src="images/Vanessa.jpg" width="200" length="200">
            <br />
          </div>

          <div class="profilephotos">
            <h6>Owen | UC San Diego</h6>
            <img src="images/Owen.jpg" width="200" length="200">
            <br />
          </div>
    </div>

    </div>
  </body>
</html>
